<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mobiliário Urbano</title>
    <meta name="description" content="{{ description }}">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="background" style="background-image:url('/static/img/fundo.jpg'); background-size: cover; background-color: black;">
<div id="menu">
    <a href="/"><img alt="Mobiliário urbano" src="/static/img/Logo.png" /></a>
    <div id="menubar">
        <ul>
            <li> Sobre </li>
            <li> <a href="/Creditos">Cr&eacute;ditos</a> </li>
            <li> <a href="/Videos">V&iacute;deos</a> </li>
        </ul>
    </div>
</div>
<div style="min-height: 2980px;">
    <div id="videos" class="container">
 <div class="row thumbs">
<div class="col-md-2" style="padding:24px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DRAO 08</a></span>
            </div>
<div class="col-md-2" style="padding:8px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DRAO 01</a></span>
            </div>
<div class="col-md-2" style="padding:27px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DIGA 06</a></span>
            </div>
<div class="col-md-2" style="padding:21px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">BERGMAN 01</a></span>
            </div>
<div class="col-md-2" style="padding:7px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DRAO 10</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:29px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DIGA 11</a></span>
            </div>
<div class="col-md-2" style="padding:14px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DIGA 03</a></span>
            </div>
<div class="col-md-2" style="padding:7px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DRAO 11</a></span>
            </div>
<div class="col-md-2" style="padding:10px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DIGA 02</a></span>
            </div>
<div class="col-md-2" style="padding:29px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DIGA 10</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:26px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DIGA 05</a></span>
            </div>
<div class="col-md-2" style="padding:20px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DIGA 12</a></span>
            </div>
<div class="col-md-2" style="padding:12px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DIGA 04</a></span>
            </div>
<div class="col-md-2" style="padding:24px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">JULIO 05</a></span>
            </div>
<div class="col-md-2" style="padding:14px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">JULIO 10</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:5px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DRAO 02</a></span>
            </div>
<div class="col-md-2" style="padding:15px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DIGA 13</a></span>
            </div>
<div class="col-md-2" style="padding:6px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">SABRINA 05</a></span>
            </div>
<div class="col-md-2" style="padding:29px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DANIEL 09</a></span>
            </div>
<div class="col-md-2" style="padding:19px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DRAO 04</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:19px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DIGA 08</a></span>
            </div>
<div class="col-md-2" style="padding:8px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DRAO 03</a></span>
            </div>
<div class="col-md-2" style="padding:26px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DIGA 01</a></span>
            </div>
<div class="col-md-2" style="padding:5px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DIGA 09</a></span>
            </div>
<div class="col-md-2" style="padding:17px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">JULIO 11</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:21px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DANIEL 10</a></span>
            </div>
<div class="col-md-2" style="padding:15px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">CAZE 06</a></span>
            </div>
<div class="col-md-2" style="padding:10px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DANIEL 11</a></span>
            </div>
<div class="col-md-2" style="padding:23px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DIGA 07</a></span>
            </div>
<div class="col-md-2" style="padding:20px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DANIEL 03</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:15px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">CAZE 01</a></span>
            </div>
<div class="col-md-2" style="padding:20px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">JULIO 08</a></span>
            </div>
<div class="col-md-2" style="padding:19px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">SABRINA 03</a></span>
            </div>
<div class="col-md-2" style="padding:15px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">BERGMAN 05</a></span>
            </div>
<div class="col-md-2" style="padding:28px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">JULIO 07</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:5px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">CAZE 04</a></span>
            </div>
<div class="col-md-2" style="padding:19px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">CAZE 05</a></span>
            </div>
<div class="col-md-2" style="padding:18px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">CAZE 09</a></span>
            </div>
<div class="col-md-2" style="padding:30px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DRAO 12</a></span>
            </div>
<div class="col-md-2" style="padding:8px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">SABRINA 02</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:17px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DANIEL 06</a></span>
            </div>
<div class="col-md-2" style="padding:17px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">JULIO 06</a></span>
            </div>
<div class="col-md-2" style="padding:17px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DRAO 09</a></span>
            </div>
<div class="col-md-2" style="padding:19px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">BERGMAN 02</a></span>
            </div>
<div class="col-md-2" style="padding:27px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">SABRINA 04</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:12px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">BERGMAN 10</a></span>
            </div>
<div class="col-md-2" style="padding:24px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">CAZE 13 - ENCERRAMENTO</a></span>
            </div>
<div class="col-md-2" style="padding:20px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">BERGMAN 06</a></span>
            </div>
<div class="col-md-2" style="padding:8px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">CAZE 12</a></span>
            </div>
<div class="col-md-2" style="padding:23px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">BERGMAN 07</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:7px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DANIEL 08</a></span>
            </div>
<div class="col-md-2" style="padding:30px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">CAZE 03</a></span>
            </div>
<div class="col-md-2" style="padding:11px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DRAO 07</a></span>
            </div>
<div class="col-md-2" style="padding:18px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">SABRINA 01</a></span>
            </div>
<div class="col-md-2" style="padding:14px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">BERGMAN 04</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:14px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">BERGMAN 03</a></span>
            </div>
<div class="col-md-2" style="padding:18px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">JULIO 04</a></span>
            </div>
<div class="col-md-2" style="padding:9px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">CAZE 13 - DEPOIMENTO 2</a></span>
            </div>
<div class="col-md-2" style="padding:30px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DANIEL 07</a></span>
            </div>
<div class="col-md-2" style="padding:21px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DRAO 05</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:22px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">CAZE 07</a></span>
            </div>
<div class="col-md-2" style="padding:27px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DANIEL 02</a></span>
            </div>
<div class="col-md-2" style="padding:20px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">JULIO 12</a></span>
            </div>
<div class="col-md-2" style="padding:23px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DANIEL 05</a></span>
            </div>
<div class="col-md-2" style="padding:6px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DANIEL 01</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:19px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">SABRINA 09</a></span>
            </div>
<div class="col-md-2" style="padding:17px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">BERGMAN 08</a></span>
            </div>
<div class="col-md-2" style="padding:17px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">SABRINA 07</a></span>
            </div>
<div class="col-md-2" style="padding:22px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">BERGMAN 09</a></span>
            </div>
<div class="col-md-2" style="padding:12px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">CAZE 13 - DEPOIMENTO 3</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:19px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">CAZE 13 - DEPOIMENTO 1</a></span>
            </div>
<div class="col-md-2" style="padding:30px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">CAZE 11</a></span>
            </div>
<div class="col-md-2" style="padding:15px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">JULIO 09</a></span>
            </div>
<div class="col-md-2" style="padding:7px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">JULIO 01</a></span>
            </div>
<div class="col-md-2" style="padding:20px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DRAO 06</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:8px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">JULIO 03</a></span>
            </div>
<div class="col-md-2" style="padding:10px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">CAZE 02</a></span>
            </div>
<div class="col-md-2" style="padding:18px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">CAZE 08</a></span>
            </div>
<div class="col-md-2" style="padding:19px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">SABRINA 11</a></span>
            </div>
<div class="col-md-2" style="padding:22px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">CAZE 10</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:11px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">SABRINA 10</a></span>
            </div>
<div class="col-md-2" style="padding:20px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">JULIO 13</a></span>
            </div>
<div class="col-md-2" style="padding:26px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">SABRINA 08</a></span>
            </div>
<div class="col-md-2" style="padding:23px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">JULIO 02</a></span>
            </div>
<div class="col-md-2" style="padding:5px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">SABRINA 06</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:10px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DANIEL 04</a></span>
            </div>
<div class="col-md-2" style="padding:14px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">CAZE 13 - ABERTURA</a></span>
            </div>
<div class="col-md-2" style="padding:15px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">CAZE 13 - DEPOIMENTO 4</a></span>
            </div>
<div class="col-md-2" style="padding:11px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">CAZE 13 - DEPOIMENTO 5</a></span>
            </div>
<div class="col-md-2" style="padding:17px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DIGA 14</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:16px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">FECHAMENTO</a></span>
            </div>
<div class="col-md-2" style="padding:5px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">BORBA 16</a></span>
            </div>
<div class="col-md-2" style="padding:16px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="">DRAO CAMADUCAIA</a></span>
            </div>
</div>

    </div>
</div>
<script src="/static/javascripts/jquery-1.12.2.min.js"></script>
<script src="/static/javascripts/jquery-scrollto.js"></script>
<script src="/static/javascripts/bootstrap.min.js"></script>
<script src="/static/javascripts/video_player.js"></script>
<script src="/static/javascripts/article.js"></script>
<script type="text/javascript">
        $(function () {
            $.getJSON('https://roteiro.moburb.org/roteiro', function (json) {
                    var playlist = json;
                    startVideos("videoPlaying", playlist);
                    });

            $('#botao_inicio').hover(function () {
                $(this).animate({'opacity': '0.7'});
            }, function () {
                $(this).animate({'opacity': '1'});
            });

            $('#botao_inicio').click(function (){ 
               $('.content-b').ScrollTo({offsetTop: 40}); 
               $('#videoPlaying')[0].play();
            });
        });
</script>
</body>
</html>
